@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid flex border  p-3 my-3">
    <img src="https://www.infnet.edu.br/infnet/wp-content/uploads/sites/6/2022/03/infnet_versao-principal-01-scaled.jpg" class="w-25 rounded mx-auto" />
</div>


<div class="container-fluid mt-3">
    <h3>O que é ASP.NET Core MVC?</h3>

    <p>
        ASP.NET Core MVC é um framework de desenvolvimento web desenvolvido pela Microsoft. MVC significa Model-View-Controller, uma arquitetura de software que separa a aplicação em três
        componentes principais: Modelo, Visão e Controlador.
    </p>

    <h4>Componentes do ASP.NET Core MVC</h4>

    <p>
        Modelo (Model): Representa a estrutura de dados da aplicação e contém a lógica de negócios.
        Visão (View): Responsável pela apresentação da interface do usuário.
        Controlador (Controller): Gerencia as solicitações do cliente e atualiza o Modelo conforme necessário.
    </p>
    <h4>Principais Características</h4>
    <ul>
        <li>Multiplataforma: Compatível com Windows, macOS e Linux.</li>
        <li>Open-source: Desenvolvido no GitHub.</li>
        <li>Desempenho: Otimizado para alta performance e escalabilidade.</li>
        <li>Modularidade: Componentes modulares facilitam a personalização.</li>
        <li>Suporte para nuvem: Integra-se perfeitamente com serviços em nuvem, como Azure.</li>
    </ul>

    <h4>Vantagens do ASP.NET Core MVC</h4>
    <ul>
        <li>Velocidade de desenvolvimento: Estrutura MVC permite um desenvolvimento mais rápido e organizado.</li>
        <li>Testabilidade: Separação clara de responsabilidades permite testes eficientes.</li>
        <li>Suporte para APIs RESTful: Ideal para a criação de APIs modernas.</li>
        <li>Compatibilidade com client-side frameworks: Integrável com Angular, React, Vue.js, etc.</li>
    </ul>
    <p>
        ASP.NET Core MVC oferece uma plataforma poderosa e flexível para o desenvolvimento web moderno. Com sua arquitetura MVC,
        performance otimizada e suporte multiplataforma, é uma escolha popular para desenvolvedores que buscam criar aplicativos web robustos e escaláveis.
    </p>
</div>
<hr />
<div>
    <h6>
        Opinião sobre o curso
    </h6>
    <p>
        Particularmente, eu gostei muito do curso, principalmente nessa segunda etapa, onde vimos sobre o ASP.NET.
    </p>
    <p>
        Minha crítica não é propriamente sobre a aula ou sobre o professor, pois, na minha opinião, foram ótimos, pois de fato aprendi e o professor sempre nos ajudou quando o programa quebrava. Minha crítica/sugestão
        seria sobre a forma na qual o curso é apresentado, pois "perdemos" muito tempo na parte inicial da matéria vendo os assuntos básicos e presentes em todas as linguagens de programação (variáveis, arrays, for, foreach...).
    </p>
    <p>
        Acredito que se entrássemos direto nessa parte do ASP.NET poderíamos ter aprendido muito mais, pois confesso que gostei demais, rsrs...
    </p>
    <p>No mais, professor, foi um prazer ter tido aula com o senhor e de verdade espero te encontrar em outras disciplinas.</p>
    <p>Obrigado!</p>
</div>
